.weekContainerPopout {
    -webkit-user-select: none;
    user-select: none;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    cursor: pointer;
}

.weekContainerPopout:hover {
    background: rgba(0,119,255,0.06);
}

.week-inp-cbx {
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
    margin: 5px;
}