/* Using less common names to avoid conflicts with Bootstrap */
/* Colors for login background are set directly */

div.magic-circle {
    --theme-primary: #7E00A0;
    --theme-primary-2: #7D5C86;
    --theme-primary-3: #B18FBA;
    --theme-primary-4: #bfa3cf;
    --theme-primary-5: #cfb4db;
    --theme-primary-6: #dfc4e7;
    --theme-primary-7: #f3e7fa;
    --theme-primary-8: #F4ECF7;
    --theme-primary-9: #fcf8fd;
    --theme-primary-shadow: rgba(126, 0, 160, 0.2); 

    --theme-secondary: #615CF2;
    --theme-secondary-2: #7268c2;
    --theme-secondary-3: #cdc9f8;
    
    --theme-warning: #c29e00;
    --theme-warning-2: #ccbb3f;
    --theme-warning-3: #efe496;

    --theme-success: #00AB4F;
    --theme-success-2: #ade8bc;
    --theme-success-3: #e1fce8;

    --theme-error: #fc9b9b;
    --theme-error-2: #fad4d4;
    --theme-error-3: #cf3b3b;

    --theme-confirm: #96b4fd;
    --theme-confirm-2: #dae4fc;
}

/* Reusable buttons */
div.magic-circle button.warning {
    color: #333 !important;
    background-color: var(--theme-warning-3) !important;
    border: 1px solid var(--theme-warning-2) !important
}

div.magic-circle button.warning:hover,
div.magic-circle button.warning:focus {
    background-color: var(--theme-warning-2) !important;
}

div.magic-circle button.warning-hover {
    background-color: var(--theme-warning-2) !important;
    color: #333 !important;
    border: 1px solid var(--theme-warning-2) !important
}

div.magic-circle button.error {
    color: #333 !important;
    background-color: var(--theme-error-2) !important;
    border: 1px solid var(--theme-error) !important
}

div.magic-circle button.error:hover,
div.magic-circle button.error:focus {
    background-color: var(--theme-error) !important;
}

div.magic-circle button.success {
    color: #333 !important;
    background-color: var(--theme-success-3) !important;
    border: 1px solid var(--theme-success-2) !important
}

div.magic-circle button.success:hover,
div.magic-circle button.success:focus {
    background-color: var(--theme-success-2) !important;
}

div.magic-circle button.confirm {
    color: #333 !important;
    background-color: var(--theme-confirm-2) !important;
    border: 1px solid var(--theme-confirm) !important
}

div.magic-circle button.confirm:hover,
div.magic-circle button.confirm:focus {
    background-color: var(--theme-confirm) !important;
}


/* Login */
div.magic-circle div.login div.logo {
    background-image: url('./../images/magic-circle-logo.png');
}

div.magic-circle div.login {
    background: linear-gradient(90deg, rgba(28,31,50,1) 0%, rgba(34,41,69,1) 20%, 
    rgba(34,41,69,1) 80%, rgba(28,31,50,1) 100%);
}

div.magic-circle div.login .form-label,
div.magic-circle div.login .form-text {
    color: #ccc
}

div.magic-circle .login .form-control:focus {
    box-shadow: 0 0 0 .2rem var(--theme-secondary);
    border: 0
}

div.magic-circle .login div.container .btn {
    background-image: linear-gradient(to bottom, var(--theme-primary), var(--theme-secondary));
    border: 0
}

div.magic-circle .login div.container .btn:hover,
div.magic-circle .login div.container .btn:focus {
    box-shadow: 0 0 0 .1rem var(--theme-secondary);
}

div.magic-circle .login .alert {
    background-color: var(--theme-primary-5);
    border: 2px solid var(--theme-primary)
}

div.magic-circle .login .toast {
    border: 2px solid var(--theme-secondary-2)
}

div.magic-circle .login .toast-body {
    background-color: var(--theme-secondary);
    color: #ddd
}

div.magic-circle .loginMenu button:focus,
div.magic-circle .loginMenu button:active,
div.magic-circle .loginMenu button {
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: none;
}

div.magic-circle .login div.show button,
div.magic-circle .login div.loginMenu button:hover,
div.magic-circle .login div.loginMenu:focus-within button {
    background-color: var(--theme-secondary) !important
}

div.magic-circle .login .loginMenu a.disabled {
    color: var(--theme-primary);
    font-style: italic
}

div.magic-circle .login .loginMenu a.disabled:hover,
div.magic-circle .login .loginMenu a.disabled:focus {
    background-color: transparent
}

div.magic-circle .login .loginMenu a:hover,
div.magic-circle .login .loginMenu a:focus {
    background-color: var(--theme-secondary-3) !important 
}


/* Navigation, toolbar etc. */
div.magic-circle .navbar {
    background-color: var(--theme-primary-2);
    border-bottom: 3px solid var(--theme-primary-4)
}

div.magic-circle .navbar-brand div.logo {
    background-image: url('./../images/magic-circle-plain.png');
    width: 7.7em
}

div.magic-circle .navbar-nav .nav-link,
div.magic-circle .navbar-nav div.dropdown button {
    color: var(--theme-primary-7) !important;
    border-radius: 4px;
    border-width: 0
}

div.magic-circle .navbar-nav div.dropdown button {
    background-color: initial !important;
    border-width: 0
}

div.magic-circle .navbar-nav div.dropdown.show button,
div.magic-circle .navbar-nav div.dropdown button:hover,
div.magic-circle .navbar-nav div.dropdown button:focus,
div.magic-circle .navbar-nav .nav-link:hover,
div.magic-circle .navbar-nav .nav-link:focus {
    background-color: var(--theme-primary-7) !important;
    color: var(--theme-primary-2) !important;   
}

div.magic-circle .navbar-nav a.dropdown-item:hover,
div.magic-circle .navbar-nav a.dropdown-item:focus {
    background-color: var(--theme-warning-3)
}

/* Calendar */
div.magic-circle .weekContainer {
    background: var(--theme-primary-8);
    border: 1px solid var(--theme-primary-4);
}

div.magic-circle .weekHeader .btn {
    background-color: initial;
}

div.magic-circle .weekHeader .btn,
div.magic-circle .weekHeader > span {
    color: var(--theme-primary-2);
}

div.magic-circle .weekHeader .btn:hover:enabled,
div.magic-circle .weekHeader .btn:focus:enabled {
    color: var(--theme-primary-7);
    background-color: var(--theme-primary-2);
}

div.magic-circle .dayWrapper {
    border-width: 1px 0px;
    border-style: solid;
    border-color: var(--theme-primary-5)
}

div.magic-circle .unlocked {
    background-color: var(--theme-primary-9)
}

div.magic-circle .locked {
    background-color: #f3f3f3
}

div.magic-circle .dayWrapper > div {
    border-right: 1px solid var(--theme-primary-6)
}

div.magic-circle .dayWrapper > div:nth-child(7) {
    border-right: none
}

div.magic-circle .newTime {
    color: var(--theme-warning)
}

div.magic-circle .onGoingTime {
    color: var(--theme-secondary-2)
}

div.magic-circle .deleteButton {
    color: var(--theme-error-3);
}

div.magic-circle .deleteButton:hover:enabled,
div.magic-circle .deleteButton:focus:enabled {
    background-color: var(--theme-error-2);
}

div.magic-circle div.sk-three-bounce > div {
    background-color: var(--theme-confirm);
}

/* Calendar buttons */
div.magic-circle .copyButton {
    border: 1px solid var(--theme-confirm);
    background-color: var(--theme-confirm-2);
}

div.magic-circle .copyButton:hover,
div.magic-circle .copyButton:focus {
    background-color: var(--theme-confirm);
}

div.magic-circle .trashButton {
    border: 1px solid var(--theme-error);
    background-color: var(--theme-error-2);
}

div.magic-circle .trashButton:hover,
div.magic-circle .trashButton:focus {
    background-color: var(--theme-error);
}

div.magic-circle .lockButton {
    border: 1px solid var(--theme-warning-2);
    background-color: var(--theme-warning-3);
}

div.magic-circle .lockButton:hover,
div.magic-circle .lockButton:focus {
    background-color: var(--theme-warning-2);
}

div.magic-circle .newButton {
    border: 1px solid var(--theme-success-2);
    background-color: var(--theme-success-3);
}

div.magic-circle .newButton:hover:enabled,
div.magic-circle .newButton:focus:enabled {
    background-color: var(--theme-success-2);
}

div.magic-circle .newButton svg {
    color: var(--theme-success)
}

div.magic-circle .newButton:disabled svg {
    color: var(--theme-success-2)    
}

/* Timepicker popout */
div.magic-circle.popoverBasic .validTimespan {
    color: #333;
    background-color: var(--theme-success-3);
    border: 1px solid var(--theme-success-2)
}

div.magic-circle.popoverBasic .validTimespan:hover,
div.magic-circle.popoverBasic .validTimespan:focus {
    background-color: var(--theme-success-2);
}

div.magic-circle.popoverBasic .invalidTimespan,
div.magic-circle.popoverBasic .invalidTimespan:hover,
div.magic-circle.popoverBasic .invalidTimespan:focus {
    color: #333;
    background-color: var(--theme-error-2);
    border: 1px solid var(--theme-error)
}

div.magic-circle div.ant-picker-focused {
    border-color: var(--theme-primary-6) !important;
    box-shadow: 0 0 0 2px var(--theme-primary-shadow)
}

div.magic-circle div.ant-picker:hover,
div.magic-circle div.ant-picker:focus,
div.magic-circle div.ant-picker-range:hover,
div.magic-circle div.ant-picker-range:focus {
    border-color: var(--theme-primary-2) !important;
}

div.magic-circle div.ant-picker-active-bar {
    background-color: var(--theme-primary-2) !important
}

div.magic-circle button.ant-btn,
div.magic-circle button.ant-btn:hover:enabled,
div.magic-circle button.ant-btn:focus:enabled {
    color: #333
}

div.magic-circle button.ant-btn {
    background-color: var(--theme-success-3) !important;
    border-color: var(--theme-success-2);
}

div.magic-circle button.ant-btn:hover:enabled,
div.magic-circle button.ant-btn:focus:enabled {
    background-color: var(--theme-success-2) !important;
    border-color: var(--theme-success-2);
}

div.magic-circle button.ant-btn:disabled {
    color: #bbb
}

div.magic-circle .ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
    background: var(--theme-warning-3) !important
}

/* Information component */
.headerLinksContainer a {
    color: var(--theme-primary-2)
}